body{
    display :flex;
}
html{
    background-color: black;
}
img{
    border: 10px solid white;
}
#face{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1{
    color: aliceblue;
    text-align: center;
}
h3{
    color: rgb(104, 104, 104);
    text-align: center;
}
